// nextflow.config
// These are BASC-specific defaults. They will need to be adapted if using on other compute systems

// Execute jobs with SLURM; provide software with Conda. Never use conda default channels due to licencing
conda.enabled = true
conda.channels = ['conda-forge', 'bioconda']
conda.createOptions = '--override-channels'
workflow.output.mode = 'copy'
outputDir = "${launchDir}/output/results"

process {
    executor = 'slurm' // Submit processes through slurm
    scratch = true // Run within on-node scratch
    queue = { task.time <= 6.h ? 'shortrun' : 'batch' } // Processes running for less than 6 hours go to shortrun queue
    module = 'Miniconda3/24.7.1-0' // Load basc Miniconda module
    clusterOptions = "--account ${params.slurm_account} --ntasks=1" // Provide slurm account for all jobs

    // Maximum resource limits - processes must never go above these
    resourceLimits = [
        cpus:   48,
        memory: 512.GB,
        time:   168.h
    ]

    // Default resources per task - these are overwritten in actual process
    cpus = 4
    memory = 12.GB
    time = '6h' as Duration

    // Retry strategy - if processes fail, they are automatically retried with more memory and time
    maxRetries = 3
    maxErrors  = -1

    // Note the default value of $task.exitStatus is set to Integer.MAX_VALUE in the absence of an .exitcode file 
    // This catches "terminated for an unknown reason" see https://github.com/nextflow-io/nextflow/issues/2847#issuecomment-2144844183
    errorStrategy = {
        def retryCodes = [104, 125, 134, 137, 139, 140, 143, 146, 247, Integer.MAX_VALUE]
        task.exitStatus == null || task.exitStatus in retryCodes
            ? 'retry'
            : 'terminate'
    }

}

// Add a test profile that runs a small subset gorse dataset
profiles {
    test {
        params.samplesheet = 'test_data/test_samplesheet.csv'
        params.reference = 'test_data/consensus_100.fa'
        params.nchunks = 5
        process.scratch = false

        process.resourceLimits = [
            cpus:   2,
            memory: 2.GB,
            time:   10.m
        ]
    }
}

executor {
    queueSize           = 9500
    pollInterval        = '10 sec' as Duration
    perCpuMemAllocation = true
    onlyJobState        = true
    queueGlobalStatus   = true
}

report {
    enabled             = true
    overwrite           = true
    file                = "output/run_info/report.html"
}

trace {
    enabled             = true
    overwrite           = true
    file                = "output/run_info/trace.tsv"
}

dag {
    enabled             = true
    overwrite           = true
    file                = "output/run_info/dag.html"
    verbose             = true
}

timeline {
    enabled             = true
    overwrite           = true
    file                = "output/run_info/timeline.html"
}
